
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->
    
    
</head>
<body>
    <div class="container">
        <!-- <div class="navbar">
            <div class="logo">
                <h3>_lainley</h3>
            </div>
            <ul>
                <li><a href="index.html">_home</a></li>
                <li><a href="about.html">_About</a></li>
                <li><a href="">_Projects</a></li>
                <li><a href="">_Services</a></li>
                <li><a href="">_Contact</a></li>
            </ul>
            <ul>
                <li><a href="">contact me</a></li>
            </ul>
        </div> -->
        <form action="/signup" method="post" >
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeh older="create a username(only letters and numbers)" required><br>

            <label for="">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="Enter first name" required><br>

            <label for="">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Enter your last name" required><br>
            <label for="">Email Address</label>
            <input type="email" id="email" name="email" placeholder="create a email address" required><br>
            <label for="">Password</label>
            <input type="password" id="pass1" name="pass1" placeholder="create a password" required><br>
            <label for="">Confrim your Password</label>
            <input type="password" id="pass2" name="pass2" placeholder="confirm password" required><br>
        
            <button type="submit">Sign Up</button>
            
            <!-- <footer>
            <ul>
                <li>find me in:</li>
                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i>f</a></li>
                <li><a href="">a</a></li>
            </ul>
        </footer> -->
    </div>
    <!-- <script src="script.js"></script> -->
    <script src="" async defer></script>
</body>
</html>