<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->
    
    
</head>
<body>
     {% for message in messages  %}
        <div class="alert alert-{{message.tags }}  alert.dismissible fade show" role="alert">
            <strong>Message: </strong> {{ message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="container">
        <!-- <div class="navbar">
            <div class="logo">
                <h3>_lainley</h3>
            </div>
            <ul>
                <li><a href="index.html">_home</a></li>
                <li><a href="about.html">_About</a></li>
                <li><a href="">_Projects</a></li>
                <li><a href="">_Services</a></li>
                <li><a href="">_Contact</a></li>
            </ul>
            <ul>
                <li><a href="">contact me</a></li>
            </ul>
        </div> -->
        <h3>sign in</h3/>
        <form action="/signin" method="post" >
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" id="username" name="username" placeh older="Enter your username" required><br>
            <label for="">Password</label>
            <input type="password" id="pass1" name="pass1" placeholder="ENter your password" required><br>
        
        
            <button type="submit">Sign In</button>
            
            <!-- <footer>
            <ul>
                <li>find me in:</li>
                <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i>f</a></li>
                <li><a href="">a</a></li>
            </ul>
        </footer> -->
    </div>
    <!-- <script src="script.js"></script> -->
    <script src="" async defer></script>
</body>
</html>